{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Welcome to the SWF Monitor</h1>
    <p class="lead">Use the navigation menu to explore the system.</p>
    
    <div class="row">
        <div class="col-md-6">
            <h2>Key Areas</h2>
            <ul>
                <li><a href="{% url 'monitor_app:workflow_dashboard' %}">STF Workflow Dashboard</a></li>
                <li><a href="{% url 'monitor_app:log_summary' %}">Log Summary</a></li>
                <li><a href="{% url 'monitor_app:database_tables_list' %}">Database Overview</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}