{% extends 'base.html' %}

{% block title %}Namespace: {{ namespace }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Namespace: {{ namespace }}</h2>

    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th style="width: 200px;">Agents</th>
                        <td><a href="{% url 'monitor_app:workflow_agents_list' %}?namespace={{ namespace }}">{{ agent_count }}</a></td>
                    </tr>
                    <tr>
                        <th>Workflow Executions</th>
                        <td><a href="{% url 'monitor_app:workflow_executions_list' %}?namespace={{ namespace }}">{{ execution_count }}</a></td>
                    </tr>
                    <tr>
                        <th>Messages</th>
                        <td><a href="{% url 'monitor_app:workflow_messages' %}?namespace={{ namespace }}">{{ message_count }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
