{% extends "monitor_app/_datatable_base.html" %}

{% block extra_filters %}
<!-- Days selector -->
<div style="margin-bottom:1em;">
    <strong>Time window:</strong>
    {% for opt in days_options %}
    {% if opt.active %}
    <a href="?days={{ opt.value }}" class="swf-days-link" data-days="{{ opt.value }}" style="font-weight:bold;text-decoration:underline;margin-right:0.8em;">{{ opt.label }}</a>
    {% else %}
    <a href="?days={{ opt.value }}" class="swf-days-link" data-days="{{ opt.value }}" style="margin-right:0.8em;">{{ opt.label }}</a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block initial_filters %}{ days: '{{ days }}'{% if selected_site %}, site: '{{ selected_site|escapejs }}'{% endif %}{% if selected_error_source %}, error_source: '{{ selected_error_source|escapejs }}'{% endif %}{% if selected_status %}, status: '{{ selected_status|escapejs }}'{% endif %}{% if classified %}, classified: '{{ classified|escapejs }}'{% endif %}{% if ended_after %}, ended_after: '{{ ended_after|escapejs }}', ended_before: '{{ ended_before|escapejs }}'{% endif %} }{% endblock %}
{% block default_order %}[[3, 'desc']]{% endblock %}
